.jumbotron {
  background: url('../../images/jumbotron.jpg') no-repeat left top;
  background-size: cover;
  color: #fff;
  height: 450px;
  padding-top: 120px;
  text-align: center;
  z-index: -9;

  @media (max-width: 767px) {
    h1 {
      font-size: 54px;
      font-weight: 700;
    }

    .lead {
      font-size: 24px;
      height: 1.8em;
    }
  }

  &.short {
    height: 250px;
  }

  h1 {
    font-weight: 700;
  }

  .arrow-down {
    bottom: 50px;
    color: #fff;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: bottom .3s;

    .fa {
      text-shadow: 2px 0 4px 0 fade-out(#000, .5);
    }

    &:hover {
      bottom: 55px;
      transition: bottom .3s;
    }
  }
}

.navbar {
  background: transparent !important;

  &.bg-inverse {
    background: #000 !important;
  }
}
