@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
.btn {
  border: 0;
  letter-spacing: 1.5px;
  padding: 12px 18px;
  text-transform: uppercase; }
  .btn:hover, .btn:active, .btn:focus {
    background: #fe504f; }

.btn-rounded {
  border-radius: 50px; }

.btn-secondary {
  background: #fe6968;
  color: #fff; }

.page-subheading {
  color: #929292;
  font-size: .8em;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.post-link {
  color: #4c4c4c; }

.text-muted > a {
  color: inherit; }

a:hover {
  color: #fe6968;
  text-decoration: none;
  transition: all .3s; }

.navbar {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1.5em;
  min-height: 80px; }
  .navbar .nav-link {
    color: #888; }
    .navbar .nav-link.active {
      color: #fe6968; }

footer.footer {
  border-top: 1px solid #f2f2f2;
  color: #929292;
  font-size: .8em;
  margin-top: 3em;
  padding: 2em 0; }

.c-gallery__close {
  position: absolute;
  right: 1em;
  top: 1.75em; }

.c-gallery__header {
  position: relative;
  padding: 1em 4em;
  text-align: center; }

.c-gallery__headline {
  font-weight: normal;
  text-align: center; }

.c-gallery__modalClose {
  position: absolute;
  top: -1.5em;
  right: .5em;
  z-index: 100; }

@media (orientation: landscape) {
  .c-gallery__modalClose {
    top: 3em; } }
@media (min-width: 45em) {
  .c-gallery__modalClose {
    top: 0;
    right: -1em; } }
.c-gallery__modalOpenTitle {
  font-size: 1.25em;
  position: absolute;
  bottom: 1em;
  left: 0;
  z-index: 0;
  padding: .5em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5); }

.c-gallery__modalOpenLink {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%; }

.c-gallery__modalOpenLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.c-gallery__modalOpenLink img {
  margin: -1px;
  transition: transform 0.25s ease-in-out; }

.c-gallery__modalOpenLink:hover img {
  transform: scale(1.03125); }

.jumbotron {
  background: url("../../images/jumbotron.jpg") no-repeat left top;
  background-size: cover;
  color: #fff;
  height: 450px;
  margin: -24px -15px 0;
  padding-top: 120px;
  text-align: center;
  z-index: -9; }
  .jumbotron.short {
    height: 250px; }
  .jumbotron h1 {
    font-weight: 700; }
  .jumbotron .arrow-down {
    bottom: 50px;
    color: #fff;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: bottom .3s; }
    .jumbotron .arrow-down .fa {
      text-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5); }
    .jumbotron .arrow-down:hover {
      bottom: 55px;
      transition: bottom .3s; }

.navbar {
  background: transparent !important; }
  .navbar.bg-inverse {
    background: #000 !important; }

.browser-mockup {
  border-radius: 3px 3px 0 0;
  border-top: 2em solid rgba(230, 230, 230, 0.25);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  position: relative; }
  .browser-mockup::before {
    background-color: #f44;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ff6057, 1.5em 0 0 2px #ffc12e, 3em 0 0 2px #28ca40;
    content: '';
    display: block;
    height: .5em;
    left: 1em;
    position: absolute;
    top: -1.25em;
    width: .5em; }

.typed-cursor {
  animation: blink .7s infinite;
  opacity: 1; }

@keyframes blink {
  50% {
    opacity: 0; } }
.typed-fade-out {
  animation: 0;
  opacity: 0;
  transition: opacity .25s; }

.post h1 {
  font-size: 3em; }
.post-intro {
  color: #929292;
  font-size: 1.325em; }
.post .byline h6 {
  color: #9f9f9f;
  text-transform: uppercase; }
.post-content img {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  max-width: 100%; }

html,
#root {
  background: #fafafa; }

main {
  background: #fff; }

/*# sourceMappingURL=index.css.map */
